<a href="https://colab.research.google.com/github/rajkumar-11812510/Rajkumar-Muraoo/blob/main/Pandas_Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SF Salaries Exercise**

---

Welcome to a quick exercise for you to practice your pandas skills! We will be using the SF Salaries Dataset from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [2]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [5]:
df=pd.read_csv('/content/Salaries.csv')

** Check the head of the DataFrame. **

In [6]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

In [7]:
print(df)

          Id       EmployeeName  \
0          1     NATHANIEL FORD
1          2       GARY JIMENEZ
2          3     ALBERT PARDINI
3          4  CHRISTOPHER CHONG
4          5    PATRICK GARDNER
...      ...                ...
49725  49726   Crystal DeFrantz
49726  49727   Antoinette Wells
49727  49728        Robert Rudy
49728  49729       Sean Kerrisk
49729  49730      Rachelle Axel

                                             JobTitle    BasePay  OvertimePay  \
0      GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18         0.00
1                     CAPTAIN III (POLICE DEPARTMENT)  155966.02    245131.88
2                     CAPTAIN III (POLICE DEPARTMENT)  212739.13    106088.18
3                WIRE ROPE CABLE MAINTENANCE MECHANIC   77916.00     56120.71
4        DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)  134401.60      9737.00
...                                               ...        ...          ...
49725                           Emp & Training Spec 4   84086.48         0.00
49726                                Transit Operator   66714.31     13722.09
49727                             Stationary Engineer   73814.00     15484.85
49728                                       Carpenter   78931.55      3516.76
49729                     Senior Management Assistant       8.00          NaN

        OtherPay  Benefits   TotalPay  TotalPayBenefits    Year  Notes  \
0      400184.25       NaN  567595.43         567595.43  2011.0    NaN
1      137811.38       NaN  538909.28         538909.28  2011.0    NaN
2       16452.60       NaN  335279.91         335279.91  2011.0    NaN
3      198306.90       NaN  332343.61         332343.61  2011.0    NaN
4      182234.59       NaN  326373.19         326373.19  2011.0    NaN
...          ...       ...        ...               ...     ...    ...
49725     624.01  35661.88   84710.49         120372.37  2012.0    NaN
49726    1549.20  38368.67   81985.60         120354.27  2012.0    NaN
49727    7035.40  24019.82   96334.25         120354.07  2012.0    NaN
49728    2193.00  35710.67   84641.31         120351.98  2012.0    NaN
49729        NaN       NaN        NaN               NaN     NaN    NaN

              Agency  Status
0      San Francisco     NaN
1      San Francisco     NaN
2      San Francisco     NaN
3      San Francisco     NaN
4      San Francisco     NaN
...              ...     ...
49725  San Francisco     NaN
49726  San Francisco     NaN
49727  San Francisco     NaN
49728  San Francisco     NaN
49729            NaN     NaN

[49730 rows x 13 columns]

** Use the .info() method to find out how many entries there are.**

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49730 entries, 0 to 49729
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                49730 non-null  int64
 1   EmployeeName      49730 non-null  object
 2   JobTitle          49730 non-null  object
 3   BasePay           49730 non-null  float64
 4   OvertimePay       49729 non-null  float64
 5   OtherPay          49729 non-null  float64
 6   Benefits          13570 non-null  float64
 7   TotalPay          49729 non-null  float64
 8   TotalPayBenefits  49729 non-null  float64
 9   Year              49729 non-null  float64
 10  Notes             0 non-null      float64
 11  Agency            49729 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 4.9+ MB

What is the average BasePay ?

In [11]:
import numpy as np
df=pd.read_csv("/content/Salaries.csv")
average_basepay = df['BasePay'].mean()
print(average_basepay)

68165.60588080912

** What is the highest amount of OvertimePay in the dataset ? **

In [12]:
highest_overtimpay=df['OvertimePay'].max()
print(highest_overtimpay)

245131.88

** What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [27]:
import pandas as pd

df = pd.read_csv("/content/Salaries.csv", index_col="Id")

result = df.loc[df['EmployeeName'].str.upper() == "JOSEPH DRISCOLL", 'JobTitle'].iloc[[0]]

# Remove the index name so "Id" doesn't show up
result.index.name = None

print(result)

25    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [29]:
totalpay_Joseph=df.loc[df['EmployeeName'].str.upper()=="JOSEPH DRISCOLL",'TotalPayBenefits'].iloc[[0]]
totalpay_Joseph.index.name=None
print(totalpay_Joseph)

25    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [37]:
# Get the row with the highest TotalPayBenefits
highest_paid_row = df[df['TotalPayBenefits'] == df['TotalPayBenefits'].max()]

highest_paid_row

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
Id,,,,,,,,,,,,
1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [38]:
lowest_paid=df[df['TotalPayBenefits']==df['TotalPayBenefits'].min()]
lowest_paid

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
Id,,,,,,,,,,,,
148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [40]:
# Group by Year and calculate mean BasePay
average_basepay_per_year = df.groupby('Year')['BasePay'].mean()

print(average_basepay_per_year)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [42]:
unique_jobtitles=df['JobTitle'].nunique()
print(unique_jobtitles)

2159

** What are the top 5 most common jobs? **

In [70]:
top_commonJobs=df['JobTitle'].value_counts().head(5)
print(top_commonJobs)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [71]:
# Filter for 2013
df_2013 = df[df['Year'] == 2013]

# Count occurrences of each JobTitle
job_counts_2013 = df_2013['JobTitle'].value_counts()

# Count how many JobTitles occur only once
unique_job_count_2013 = (job_counts_2013 == 1).sum()

print(unique_job_count_2013)

202

how many people have the word Chief in their job title? (This is pretty tricky) **

In [74]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [75]:
sum(df['JobTitle'].apply(lambda x: chief_string(x)))

627

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [66]:
num_chief = df['JobTitle'].str.contains('Chief', case=False, na=False).sum()
print(num_chief)

627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [76]:
df['title_len'] = df['JobTitle'].apply(len)

In [77]:
df[['title_len','TotalPayBenefits']].corr() # No correlation.

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000