<a href="https://colab.research.google.com/github/rajkumar-11812510/Rajkumar-Muraoo/blob/main/PythonSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [8]:
labels=['A','B','C','D']
data=[12,15,40,85]
arr=np.array(data)
d={'A':12,'B':15,'C':40,'D':85}

In [14]:
pd.Series(data=data)

0    12
1    15
2    40
3    85
dtype: int64

### Three other way to print the same output as shown below(11.12,13)

In [11]:
print(pd.Series(data=data,index=labels))

A    12
B    15
C    40
D    85
dtype: int64

In [12]:
print(pd.Series(data,labels))

A    12
B    15
C    40
D    85
dtype: int64

In [15]:
print(pd.Series(arr,labels))

A    12
B    15
C    40
D    85
dtype: int64

In [16]:
# Assign variable for the data
pd.Series(d)

A    12
B    15
C    40
D    85
dtype: int64

In [17]:
d

{'A': 12, 'B': 15, 'C': 40, 'D': 85}

In [18]:
labels

['A', 'B', 'C', 'D']

In [19]:
data

[12, 15, 40, 85]

## Asssign another series with data

In [24]:
ser1=pd.Series([1,2,3,4],['Nepal','India','Bangladesh','Bhutan'])
print(ser1)

Nepal         1
India         2
Bangladesh    3
Bhutan        4
dtype: int64

In [25]:
ser2=pd.Series([1,2,7,6],['Nepal','India','UK','Australia'])
print(ser2)

Nepal        1
India        2
UK           7
Australia    6
dtype: int64

In [27]:
# Addition
print(ser1 +ser2)

Australia     NaN
Bangladesh    NaN
Bhutan        NaN
India         4.0
Nepal         2.0
UK            NaN
dtype: float64

In [28]:
# Multiplication
print(ser1 * ser2)

Australia     NaN
Bangladesh    NaN
Bhutan        NaN
India         4.0
Nepal         1.0
UK            NaN
dtype: float64